[defaults]
inventory = ./inventory/hosts
roles_path = ./roles
collections_path = ./collections
host_key_checking = False

# Make output readable
stdout_callback = yaml
bin_ansible_callbacks = True

# Speed & stability
forks = 10
timeout = 30
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible/facts
fact_caching_timeout = 86400

# Safety / UX
retry_files_enabled = False
nocows = True
interpreter_python = auto_silent
deprecation_warnings = False
error_on_undefined_vars = True

# Bootstrap convenience
remote_tmp = ~/.ansible/tmp
local_tmp = .ansible/tmp

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
